body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}


.center-container{
    max-width: 1200px;
    margin: 0 auto;
    
    padding-left: 100px;
    padding-right: 100px;
    
}

button{
    cursor: pointer;
    border: none;
    padding: 7px 20px;
}
.clear{
    clear: both;
}


header{
    background-image:url(../images/headerimage.jpg);
    background-position: top;
    background-size: cover;
    height: 700px;
    color: #fff;
}






#topbar{
    height: 10%;
    
}
#topbar .center-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#topbar nav ol{
    list-style-type: none;
}

#topbar nav li{
    display: inline-block;
    margin-right: 50px;

}
#topbar nav li:last-child{
    margin-right: 0;

}

#topbar li a{
    text-decoration:none ;
    color: #fff;
}

#topbar-reserve-btn{
    background-color: crimson;
    color: #fff;
    padding: 7px 15px;
}


#topbar-call-now,#topbar-reserve-btn{
    display: inline-block;
    margin-right: 30px;
}
#topbar-call-now,#topbar-reserve-btn:last-child{
    margin-right: ;
}

#hero #hero-cta{
    
    color: #fff;
    font-weight: 100;
    border: 1px solid grey;
    background-color: transparent;
    text-shadow: 2px 2px black;
    
    font-size: 15px;
    padding: 8px 25px;
}

header #topbar{
    font-size: 20px;
    font-weight:900;
}
.hero-content{
    padding-top: 150px;

}

#topbar .center-container span{
    color: crimson;
    font-size: 40px;
}
 #hero  h1{
    
    font-size:60px; 
}
#hero #hero-subtitle{
    font-weight: 900;
    font-size: 22px;
}
/* about section */
#about-section .center-container{
    padding-top: 80px;
}
#about-section .read-story {
    color: rgb(199, 194, 194);
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
    text-transform: uppercase;
    
}

#about-container{
    min-height: 400px;
    box-sizing: border-box;
    margin-right: -4px;
}

    

.box{
    
    width: 47%;
    
    height: 400px;
}

.about-1{
    float: left;
    
    
    
}
.box h2{
    font-size:40px;
}
#about-1  h2,#about-1 p{
    line-height: 1.7em;
}

.about-2{
    float: right;
background: url(../images/about-image.jpg) no-repeat center center/cover;
}

/* meet our chef section */

#our-staff{
    background-color: rgb(252, 251, 246);
}
#top-chef{
    text-align: center;
}
#top-chef{
    font-size: 25px;
}
#top-chef p{
    color:rgb(148, 161, 161);

}
#big-meet{
    display: flex;
    height: 800px;
    justify-content: space-evenly;
    
}
.meet-1{
    
    width: 30.33%;
    background: url(../images/team-image1.jpg)no-repeat center center/cover;
}
.meet-2{
    
    width: 30.33%;
    background: url(../images/team-image2.jpg)no-repeat center center/cover;
}
  
.meet-3{
    background-color: cyan;
    width: 30.33%;
    background: url(../images/team-image3.jpg) no-repeat center center/cover;
}

#cooks-name{
    display: flex;
    justify-content: space-around;
}

/* Menu Section */
#our-menus{
    text-align: center;
    padding-top: 100px;
    
    
}

#our-menus h2,#our-menus span{
    
}

#our-menus h2{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 5px;
}

#our-menus span{
    color: lightslategray;
}
#menu-pack{
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    
}

.m-box{
    width: 33.33%;
    
    height: 400px;
}

.food-1{
    background: url(../images/menu-image1.jpg) no-repeat center right/cover;
}

.food-2{
    background: url(../images/menu-image2.jpg)no-repeat left center/cover;
}


.food-3{
    background: url(../images/menu-image3.jpg) no-repeat left center/cover;
}
.food-4{
    background: url(../images/menu-image4.jpg) no-repeat left center/cover;
}

.food-5{
    background: url(../images/menu-image5.jpg)no-repeat center center/cover;
}

.food-6{
    background: url(../images/menu-image6.jpg) no-repeat center left/cover;
}

/* Testimonial Section */

#testimonials{
    padding-top:80px;
    text-align: center;
    background: url(../images/testimonial-bg.jpg) no-repeat center center/cover;
    margin-top: 200px;
    height: 400px;
}
#testimonials h2{
    color: #fff;
    
}
#testimonials p{
    color: lightsteelblue;
    font-size: 17px;
    line-height: 2.3em;
}

.white{
    color: #fff;
    font-size: 12px;
    padding-right: 5px;
}
/* footer */
#top-footer{
    display: flex;
    
    height: 500px;
    margin: auto;
    margin-bottom: 100px;
    
    padding-top: 100px;
    justify-content:space-evenly;
    

    
}
#bottom-footer{
    display: flex;
    height: 500px;
    margin: auto;
    justify-content: space-between;
    padding-top: 100px;
    background-color:rgb(252, 251, 250);
}

.foot{
    width:49%;
    height: 500px;
    
    text-align: left; 
       
}
.foot-1 iframe{
    width: 95%;
    margin: auto;
    height: 100%;
    
}
.foot-2{
    
}
.foot-2 h3{
    font-size: 30px;
    margin-top: -10px;
}


.name label,.name input{
    display: inline-block;
}
.name label{
  padding-bottom: 10px;
}
.name input{
    width: 46%;
}
 
     
     
 
   .email label{
     position:relative;
     top: -50px;
     left: 308px;
     
 }

 .email input{
     position: relative;
     top:-20px ;
     width: 46%;
     left: 265px;
 }

.subject input{
    display: block;
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
}

.subject label{
    margin-bottom: 10px;
    display: block;

}
.project label{
    display: block;
    
}

.project textarea{
    display: block;
    width: 98%;
    height: 196px;
    margin-bottom: -24px;
}
.project button{
    background-color: red;
    color: #fff;
    display: block;
    width: 100%;
    padding-bottom:35px ;
    font-size: 22px;
    margin-top -40px;

}



.foot-3{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    

}

.foot-3 h3{
    font-size: 30px;
    margin: o;
}
#find-us .margin-top {
    margin: 0;
    
}
#find-us p,#reservation p{    
    color:rgb(148, 161, 161);



}


#foot-4{
    
    display:flex;
    justify-content:space-around;
    background-color:;
    width: 50%;
    

    
    
    
}




#open-hours{
    display:flex; 
    flex-flow: column;
    justify-content:space-evenly;
    align-items: flex-start;
    
    
    padding-top:100px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 47%;
    color: #fff;
    line-height: 1.9em;
    opacity: 0.6;
    
}
.img-footer{
    background: url('/images/footer-open-hour-bg.jpg') no-repeat center center/cover;

} 

#open-hours h3{
    font-size: 30px;
    margin-top: 0;
    
}

    


#foot-4 .copyright{
    padding-top: 200px;
    font-size: 16px;
    color:rgb(148, 161, 161);

    
}


 

     





    
