body {
    margin: 0;
}

.g-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

header {

}
header .g-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav li {
    display: inline-block;
}

#hero {
    height: 350px;
    background-color: #e1e1e1;
}
#hero .g-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

main {}
section h3 {
    margin-top: 0;
}

#image-section .g-container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
}
#image-section-image,
#image-section-content {
    flex-grow: 1;
}
#image-section-image {
    
}
#image-section-image img {
    width: 100%;
}
#image-section-content {
    padding-left: 20px;
}

#blocks-section {
    background: #e1e1e1;
}
#blocks-section .g-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blocks-section-block {
    box-sizing: border-box;
    width: calc(33.33% - 6.66px);
    min-height: 124px;
    background: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
}
.blocks-section-block h4 {
    margin-top: 0;
}
.blocks-section-block p {
    margin-bottom: 0;
}

#contact-section .g-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
#contact-section-content {
    padding-right: 20px;
}
#contact-section-content,
#contact-section-form-wrapper {
    flex-basis: 50%;
}
#contact-section-form-wrapper input,
#contact-section-form-wrapper textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}
#contact-section-form-wrapper button {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    padding: 8px 24px;
    cursor: pointer;
    background: #d1d1d1;
    border: none;
    border-radius: 3px;
    color: #6e6e6e;
}

footer {
    margin-top: 40px;
    background: #e1e1e1;
}
footer .g-container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
    #blocks-section .g-container {
        /* padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center; */
        flex-direction: column;
    }
    .blocks-section-block {
        width: 100%;
        min-height: auto;
        margin-bottom: 10px;
    }
    .blocks-section-block:last-child {
        margin-bottom: 0;
    }

    #image-section .g-container {
        flex-direction: column;
    }
    #image-section-image {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 601px) {
    /* apply these styles only when the page's width is at least 601px */
}