body {
    margin: 0;
}

.center-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px 10px;
}

.row {
    margin-bottom: 5px;
}
.row::after {
    content: '';
    display: block;
    clear: both;
}
.col {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    margin-right: 5px;
}
.col:last-child {
    margin-right: 0;
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: calc(50% - 2.5px);
}

.col-4 {
    width: calc(33.33% - 3.33px);
}

.col-3 {
    width: calc(25% - 3.75px);
}

.col-2 {
    width: calc(16.66% - 4.166px);
}